/*---------- google font-------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* -----------End-------- */
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}
/* ------------------
heading styles
--------------- */
.header-info{
    background-color: #264653;
    color: white;
    margin-bottom: 60px;
    width: 100%;
}
.written-part{
    padding-top: 100px;
}
.btn-btn-header{
    background-color:#E76F51 ;
    color: white;
    padding: 5px 30px;
    border: 0;
    border-radius: 5px;
}
/* fetured bike */
.hunda{
    filter: grayscale(100%);
}
hr{
    color: #E76F51;
}
/*-------- common style ---- ---*/
.title-text{
    color: #E76F51;
}
.img-scels{
    filter: grayscale(100%);
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
/* ---------common style end --- */
.card{
    align-items: center;
    padding: 30px 0;
}
.fris-img, .second-img{
    width: 150px;
}
.last-img{
    width: 200px;
    clip-path: circle();
}
.good{
    width: 22px;
    color: #E77C40;
}
.bad{
    color: #E77C40;
}
.clients-name{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    margin-top: 10px;
}
.clients-profetion{
    font-size: 14px;
    color: #252B42;
    padding: 10px 0;
}
/* ------------
fap section side
--------------- */
.faq{
    margin-top: 140px !important;
    margin-bottom: 100px !important;
}